/* GENERAL */
body {
    font-family: 'Khula', sans-serif;
}

/* TYPOGRAPHY */
h1 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
}

h2 span {
    font-weight: 400;
    color: #20ad96;
}

h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

h4 span {
    font-weight: 400;
    color: #20ad96;
}

h6 {
    text-transform: uppercase;
    font-weight: 600;
    color: #696969;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    color: #696969;
}

a:hover {
    text-decoration: none;
    color: #20ad96;
}

/* LAYOUT */
.container {
    max-width: 1170px;
}

section {
    padding: 60px 0;
}

/* UTILITIES */

/* Buttons */
.btn-primary {
    padding: 15px 40px;
    font-weight: 700;
    background: #20ad96;
    border: none;
    display: block;
    margin: 0 auto;
}

.btn-primary:hover {
    color: #20ad96;
    background: #fff;
    border: 0;
}

.btn-secondary {
    padding: 15px 40px;
    font-weight: 700;
    background: #20ad96;
    border: none;
    display: block;
    margin: 0 auto;
}

.btn-secondary:hover {
    color: #fff;
    background: #3f3a64;
    border: 0;
}

.bg-primary {
    background: #f5f7fa !important;
}

/* HEADER */

.main-header {
    background-color: #1f1f52;
    height: 100vh;
    margin-bottom: 150px;
    padding-top: 80px;
}

/* Navbar */
.navbar {
    padding: 1rem 0rem;
    background-color: #1f1f52;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #20ad96;
}

.navbar .navbar-brand img {
    width: 160px;
}

/* Jumbotron */
.jumbotron {
    padding: 5rem 0 0 0;
}

.jumbotron .row.illustration {
    position: relative;
    top: 90px;
}

.jumbotron .illustration .graphic {
    position: relative;
    border: 20px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    z-index: 1;
}

.jumbotron .illustration .youtube {
    position: absolute;
    width: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.jumbotron .illustration .left-person {
    position: absolute;
    top: -20px;
    left: -330px;
    z-index: 0;
    width: 380px;
}

.jumbotron .illustration .right-person {
    position: absolute;
    bottom: -110px;
    right: -190px;
    z-index: 0;
    width: 200px;
}

/* Quote */
.quote h3 {
    font-size: 34px;
    font-weight: 700;
    color: #333;
    line-height: 1.5;
}

/* Analytics */
.analytics h3 {
    color: #20ad96;
    font-size: 48px;
    font-weight: 700;
}

/* Services */
.services .row.box .col {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    flex-basis: calc(100% / 2 - 60px);
    padding: 20px 30px;
    height: 370px;
    border-radius: 5px;
}

.services .row.box .col:nth-child(even) {
    margin-top: 40px;
    margin-left: 30px;
}

.services .row.box .col:nth-child(1) {
    background-image: url(../img/home-6-service-image-01.png);
    background-repeat: no-repeat;
    background-position: 2px bottom;
}

.services .row.box .col:nth-child(2) {
    background-image: url(../img/home-6-service-image-02.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.services .row.box .col:nth-child(3) {
    background-image: url(../img/home-6-service-image-03.png);
    background-repeat: no-repeat;
    background-position: 0 10px;
}

.services .row.box .col:nth-child(4) {
    background-image: url(../img/home-6-service-image-04.png);
    background-repeat: no-repeat;
    background-position: center 10px;
}

.services .col-6.right {
    padding: 0 100px;
}

.services h5 {
    color: #3f3a64;
    font-weight: 700;
}

.services ul li {
    line-height: 2.5;
    color: #696969;
}

.services ul i {
    margin-right: 20px;
    color: #20ad96;
}

/* Courses */
.courses .row .col-6 {
    margin: 20px 0;
    padding: 10px 10px;
    transition: .1s;
    border-radius: 5px;
}

.courses .row .col-6:hover {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.courses .row .image {
    background-position: center center;
    background-size: 170%;
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-right: 40px;
}

.courses .row .col-6:nth-child(1) .image {
    background-image: url('../img/course-02-480x298.jpg');
}

.courses .row .col-6:nth-child(2) .image {
    background-image: url('../img/stock-full-hd-03-480x298.jpg');
}

.courses .row .col-6:nth-child(3) .image {
    background-image: url('../img/stock-full-hd-04-480x298.jpg');
}

.courses .row .col-6:nth-child(4) .image {
    background-image: url('../img/stock-full-hd-06-480x298.jpg');
}

.courses .row .col-6:nth-child(5) .image {
    background-image: url('../img/course-featured-image-01-480x298.jpg');
}

.courses .row .col-6:nth-child(6) .image {
    background-image: url('../img/stock-full-hd-05-480x298.jpg');
}

.courses .row span {
    font-size: .9rem;
    color: #696969;
}

.courses .row span i {
    margin-right: .3rem;
}

.courses .row span:last-child i {
    margin-left: 2rem;
}

/* References */
.references img {
    border-radius: 50%;
}

.references p {
    font-size: 30px;
    font-weight: 500;
    color: #696969;
}

/* Blogs */
.blogs .col {
    flex-basis: calc(100% / 3);
}

.blogs img {
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.blogs h4 {
    margin-bottom: 1rem;
    text-transform: none;
    font-size: 23px;
}

.blogs .row span {
    font-size: .9rem;
    color: #696969;
}

.blogs .row span i {
    margin-right: .3rem;
}

.blogs .row span:last-child i {
    margin-left: 2rem;
}

/* Features */
.features {
    background-image: url('../img/home-6-services-image.png');
    background-repeat: no-repeat;
    background-position: bottom;
    height: 900px;
}

.features h2 {
    margin-bottom: 80px;
}

.features i {
    font-size: 50px;
    margin-bottom: 1.5rem;
}

.features h5 {
    font-weight: 600;
}

/* Get-started */
.get-started h4 {
    text-transform: none;
    font-size: 23px;
    font-weight: 600;
}

/* FOOTER */
.main-footer h6 {
    color: #333;
    text-transform: none;
    font-size: 20px;
}

.main-footer .social li {
    display: inline-block;
    margin-right: 2rem;
    font-size: 25px;
}

.main-footer .social li a {
    color: #696969;
}

.main-footer .social li a:hover {
    color: #20ad96;
}

.main-footer li {
    line-height: 2.5;
}

.main-footer ul.explore {
    display: flex;
    flex-wrap: wrap;
}

.main-footer ul.explore li {
    width: 50%;
}

.main-footer address {
    line-height: 2.5;
    color: #696969;
}