/* GENERAL */
body {
    font-family: 'Khula', sans-serif;
    margin-bottom: 100px; /* DEBUG */
}

/* TYPOGRAPHY */
h1 {
    font-size: 46px;
    font-weight: 700;
    color: #fff;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.5;
}

h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

/* LAYOUT */
.container {
    max-width: 1170px;
}

section.container {
    padding: 50px 0;
}

/* UTILITIES */

/* Buttons */
.btn-primary {
    padding: 15px 40px;
    font-weight: 700;
    background: #20ad96;
    border: none;
}


/* HEADER */

.main-header {
    background-color: #1f1f52;
}

/* Navbar */
.navbar .navbar-brand img {
    width: 150px;
}

/* Jumbotron */
.jumbotron {
    margin-bottom: 150px;
}

.jumbotron .row.illustration {
    position: relative;
    top: 150px;
}

.jumbotron .illustration .graphic {
    position: relative;
    border: 20px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    z-index: 1;
}

.jumbotron .illustration .youtube {
    position: absolute;
    width: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron .illustration .left-person {
    position: absolute;
    top: -20px;
    left: -330px;
    z-index: 0;
    width: 380px;
}

.jumbotron .illustration .right-person {
    position: absolute;
    bottom: -50px;
    right: -240px;
    z-index: 0;
    width: 200px;
}

/* Analytics */
.analytics h3 {
    color: #20ad96;
    font-size: 48px;
    font-weight: 700;
}